<div class="app-container">
  <div class="header">
    <div class="text-box">
      <div class="text-title">
        <p>QUIC 2 : CATEGORY SEARCH</p>
        <mat-form-field class="search-input" appearance="outline">
          <mat-label>Input your category name</mat-label>
          <input
            matInput
            placeholder="Category name"
            type="text"
            name="search"
            [(ngModel)]="searchText"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="main-content">
    <p class="text-result">ALL SEARCH RESULT : {{ result_count }}</p>
    <div class="category-content">
      <div class="list-category">
        <div
          #ngForRef
          *ngFor="let cate_name of list_catagories | filterCategory: searchText"
          class="colum-item"
        >
          <app-card-item
            [cate_name]="cate_name"
            (click)="selectCategory(cate_name)"
          ></app-card-item>
        </div>
      </div>
    </div>
  </div>
</div>
